.alignH{
    background-color: #3e7b93;
     
    margin-top: 20px;
}

.columna {
    text-align: center;
    padding: 40px;
    border: 1px solid #4d5061;

}

.alignV{
    background: #e9cf38;
    margin-top: 20px;
    height: 15rem;
}